@import "tailwindcss";


.neomorph {
  background: radial-gradient(ellipse at 30% 30%, #E5E5E5, #8D8D8D);
}

/* Linear Gradient */
.linear {
  background: linear-gradient(90deg, #ec4899, #f87171, #fbbf24);
}

/* Radial Gradient */
.radial {
  background: radial-gradient(circle at center, #fbbf24, #f87171, #ec4899);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

/* Base gradient style */
.gradient {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
}
